In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
s1=pd.Series()

In [4]:
s1

Series([], dtype: object)

In [5]:
s2=pd.Series([1,2,3,4,5])

In [6]:
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [9]:
s3 = pd.Series([1,2,3,4,5],index=[10,20,30,40,50])

In [10]:
s3

10    1
20    2
30    3
40    4
50    5
dtype: int64

In [11]:
score = pd.Series([3.2,4.5,2.6,53.8],index = ['Bob','George','Alex','Fiona','Sarah'])

ValueError: Length of values (4) does not match length of index (5)

In [12]:
score = pd.Series([3.2,4.5,2.6,5,3.8],index = ['Bob','George','Alex','Fiona','Sarah'])

In [13]:
score

Bob       3.2
George    4.5
Alex      2.6
Fiona     5.0
Sarah     3.8
dtype: float64

In [14]:
score

Bob       3.2
George    4.5
Alex      2.6
Fiona     5.0
Sarah     3.8
dtype: float64

In [15]:
score

Bob       3.2
George    4.5
Alex      2.6
Fiona     5.0
Sarah     3.8
dtype: float64

In [16]:
score.index

Index(['Bob', 'George', 'Alex', 'Fiona', 'Sarah'], dtype='object')

In [17]:
score.values

array([3.2, 4.5, 2.6, 5. , 3.8])

In [18]:
d = {'Bob':3.2, 'George':4.5; 'Alex':'2.6', 'Fiona':5, 'Sarah':3.8}

SyntaxError: invalid syntax (2368494907.py, line 1)

In [19]:
d = {'Bob':3.2, 'George':4.5,'Alex':'2.6', 'Fiona':5, 'Sarah':3.8}

In [20]:
s4 = pd.Series(d)

In [21]:
s4

Bob       3.2
George    4.5
Alex      2.6
Fiona       5
Sarah     3.8
dtype: object

In [22]:
d

{'Bob': 3.2, 'George': 4.5, 'Alex': '2.6', 'Fiona': 5, 'Sarah': 3.8}

In [23]:
s

NameError: name 's' is not defined

In [24]:
s4

Bob       3.2
George    4.5
Alex      2.6
Fiona       5
Sarah     3.8
dtype: object

In [ ]:
s4

In [1]:
s4

NameError: name 's4' is not defined

In [1]:
s4

NameError: name 's4' is not defined

In [2]:
d = {'Bob':3.2, 'George':4.5,'Alex':'2.6', 'Fiona':5, 'Sarah':3.8}

In [3]:
s4 = pd.Section(d)

NameError: name 'pd' is not defined

In [4]:
s4 = dp.Series(d)

NameError: name 'dp' is not defined

In [5]:
s4 = pd.Series(d)

NameError: name 'pd' is not defined

In [6]:
import pandas as pd

In [7]:
d = {'Bob':3.2, 'George':4.5,'Alex':'2.6', 'Fiona':5, 'Sarah':3.8}

In [8]:
s4 = pd.Series(d)

In [9]:
s4

Bob       3.2
George    4.5
Alex      2.6
Fiona       5
Sarah     3.8
dtype: object